<div>
  <span><input #stockName id=box placeholder="Search stock you want to predict"/>
  <button id=button (click)="this.getStock(stockName.value) ; stockName.value=''"> Search </button>
</span>

</div>
<br><br><br>
<table border="1px">
<tr *ngIf="this.currentStock !==undefined">
  <td id=alerttext>{{this.currentStock.name}}</td>
  </tr><td>{{this.currentStock.symbol}}</td>

  <td *ngFor="let v of this.currentStock.prices">{{v}}</td>
  <tr><td>{{this.currentStock.searchTime}}</td></tr>

  </table><br><br>
  <p><strong>Past Stocks</strong></p>
<table border="1px" >
    <tr *ngFor="let paststock of this.pastStocks">
      <td id=alerttext>{{paststock.name}}</td>
     <td>{{paststock.symbol}}</td>

      <td *ngFor="let v of paststock.prices">{{v}}</td>
    <td>{{paststock.searchTime}}</td>
    <td ><a href="input/past-data-clicked/:{{paststock.name}}" routerLink="input/past-data-clicked/:{{paststock.name}}">click here</a></td>


    </table>
