#box
{
 font-size: 1em;
 padding: 1em;
 width: 60%;
 border-radius: 25px ;
}
#button{

  font-style: oblique;
   border-radius: 25px;

  font-size: 1em;
  padding :1em;
}
#alerttext{
  font-style: normal;
  font-size: 30px;

}
