/* You can add global styles to this file, and also import other style files */
html {
   /*background-color: #42536e; */
   background-image: url("2.jpg");
 }
 table{
  text-align: center;
  text-emphasis-color: green;
 }
